[Unit]
Description=EZStream AutoDJ
After=icecast2.service

[Service]
User=icecast2
Group=icecast
Type=simple
ExecStart=/usr/bin/ezstream -c /etc/ezstream/ezstream.xml

[Install]
WantedBy=multi-user.target
